﻿@model WebApplication1.Models.AccountViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @Html.Partial("_NavBar")
    <div>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Deposit", "Account", new { userId = @Model.UserId })'" type="submit">Deposit Funds</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Withdraw", "Account", new { userId = @Model.UserId })'" type="submit">Withdraw Funds</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("ViewBalance", "Account", new { userId = @Model.UserId })'" type="submit">Check Account Balance</button>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("ViewTransactions", "Account", new { userId = @Model.UserId })'" type="submit">Check Transaction History</button>
    </div>
</body>
</html>
