﻿@model WebApplication1.Models.AccountViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.Partial("_NavBar")

        <form method="post">
            Enter Deposit Amount:
            <input type="text" class="form-control" id="amount" name="amount" placeholder="$0.00">
            <input type="hidden" id="accountId" name="accountId" value="@Model.AccountId" />
            <button class="btn btn-primary" type="submit">Submit</button>
            @Model.Message
        </form>
    </div>
</body>
</html>
