﻿@model WebApplication1.Models.AccountViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @Html.Partial("_NavBar")
    @Model.Message
    @foreach (var transaction in Model.TransactionHistory) {
        <div class="col-md-4">
            @Html.DisplayFor(mod => transaction.TransactionType)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(mod => transaction.TransactionAmount)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(mod => transaction.TransactionDate)
        </div>
    }
    <div class="col-md-4">Total Balance</div>
    <div class="col-md-8">@Model.AccountBalance.ToString("C2")</div>
</body>
</html>
