﻿@model WebApplication1.Models.Home.CreateViewModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title></title>
</head>
<body>
    @Html.Partial("_NavBar")
    <div>
        @Model.Message
        <form method="post">
            <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" placeholder="Username">
            <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password" placeholder="Password">
            <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" placeholder="First Name">
            <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" placeholder="Last Name">
            <button type="submit" class="btn btn-primary" id="SubmitButton" name="Submit Button">Create Account</button>
        </form>
    </div>
</body>
</html>
